.contactus-text {
    text-align: center;
    font-size: 14px;
    margin-left: 70px;
    line-height: 14px;
    background-color: var(--accentcolor);
    opacity: 75%;
    width: 90%;
    color: var(--primarycolor);
}

.contactus-text h1{
    color: var(--primarycolor);
}

.contactus-sendmsg {
    margin: 30px;
}

.contactus-sendmsg {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 65%;
    height: 55%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(30, 30, 30, 0.52);
}

.contactus-textinput {
    color: #0E064D;
    width: 730px;
    height: 59px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contactus-sendmsg button {
    margin-left: 25%;
}

.contactus-sendmsg ::placeholder {
    color: #0E064D;
    font-size: 15px;
    font-weight: bold;
}

.contactus-textinput-msg {
    color: #0E064D;
    width: 720px;
    height: 180px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;

}
.contactus-ourdetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.contactus-ourdetails hr {
    width: 1px;
    background-color: var(--accentcolor);
}

.ourdetails {
    padding: 40px;
    width: auto;
}

.contact h4 p{
    margin-left: 400px;
}