.vertical-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #00357A;
    height: 80vh;
    display: block;
}

.verticle-li a {
    display: block;
    color: var(--accentcolor);
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    padding: 8px 16px;
    background-color: var(--primarycolor);
    font-size: 15px;
}

/* Change the link color on hover */
.verticle-li a:hover {
    background-color: #327972;
    color: var(--accentcolor);
}

.user-name {
    color: var(--accentcolor);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 16px;
    font-size: 15px;
    margin-top: -10px;
}

.heder-profile {
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.profile-main-wrapper {
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    padding: 20px;
    width: 80%;
}

.main-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-wrapper {
    margin-top: 10px;
}

.line-txt {
    font-weight: 800;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    color: var(--primarycolor);
    border-color: var(--accentcolor);
    padding-inline-start: 10px;
}

.delete-btn {
    background: rgba(209, 14, 14, 0.7);
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.update-btn {
    width: 90%;
    height: 44.05px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    margin-top: 20px;
}

.table-header {
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.td-txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    justify-content: center;
    color: #00357A;
    padding: 5px 5px;
}

.new-manager {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--accentcolor);
    text-decoration-line: underline;
}

.add-service-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 20px;
}

.box {
    justify-content: center;
    align-items: center;
    margin: auto; width: 70%;
  }