/* Add Service Details styles */
.services-container {
    display: flex;
    flex-direction: column;
    background-color: #00357A;
    opacity: 95%;
    margin: 60px 200px 60px 200px;
    width: 90%;
}

.services-container h2 {
    text-align: center;
    margin-top: 10px;
}

.services-sub-container {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.services-sub-container .input-elements {
    padding: 0px 25px 20px 25px;
}

.preference {
    display: flex;
    flex-direction: row;
}

.preference input[type='checkbox'] {
    margin: 0px 5px 0px 105px;
}

.preference p {
    font-size: 12px;
    margin-top: 10px;
}

.preference h6 {
    margin-top: 12px;
}

.form-bottom { 
    display: flex;
    flex-direction: row;
}

/* Customize tour plan page styles */
.customize-page-content {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Background-Overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 200px 30px 200px;
}

.customize-page-content .services-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 60px 40px 70px;
}

.customize-page-content .services-container h2, p {
    color: var(--primarycolor);
}

.checkbox-list {
    display: flex;
    flex-direction: row;
    color: var(--primarycolor);
}

.checkbox-items1 {
    display: flex;
    flex-direction: column;
    margin: 10px 150px 0px 20px;
}

.item {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 230px;
}

.form-buttons {
    display: inline;
    justify-content: space-between;
    margin-top: 30px;
}

.cancelbutton {
    background-color: #FF7676;
    width: 18%;
}

.nextbutton {
    background-color: var(--primarycolor);
    width: 18%;
    margin-left: 300px;
}

/* cutomize tour plan page 2 styles */
.checkbox-items {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 0px 10px;
}

.checkbox-items .item {
    margin-right: 25px;
}

.proceedbtn {
    background-color: var(--primarycolor);
    font-size: 16px;
    width: 40%;
    float: right;
}

/* Enter tour details page styles */
.input-item {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 500px;
}

.backbtn {
    width: 12%;
    opacity: 70%;
    margin: 10px 10px 10px 10px;
}

.cancelbtn {
    background-color: rgb(134, 2, 2);
    opacity: 70%;
    width: 280px;
    margin: 10px 10px 10px 380px;
}

/* Payment successful page styles */
.body-successful {
    align-items: center;
    text-align: center;
    margin: 60px 0px 60px 0px;
}

.body-successful img {
    width: 12%;
    height: auto;
}