/* home page styles */
/* Container holding the image and the text */
.home {
    position: relative;
    text-align: center;
}

.home img {
    width: 20vw;
    height: auto;
    padding-top: 20px;
    padding-right: 40px;
}

.welcome {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 140px;
}

.welcome h3 {
    font-size: 24px;
    margin-right: 20px;
    text-align: left;
}

.welcome h1 {
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    letter-spacing: 0.25em;
    text-align: left;
}

.welcome mark {
    background-color: transparent;
    color: var(--secondarycolor);
}

.welcome h5 {
    font-size: 18px;
    text-transform: none;
    text-align: right;
    margin-right: 20px;
    letter-spacing: 0.12em;
}

.selection {
    display: flex;
    flex-direction: row;
    height: 350px;
    justify-content: space-between;
}

.selection h2 {
    text-transform: uppercase;
    color: var(--secondarycolor);
}

.selection p {
    margin-top: 10px;
    text-transform: none;
}

.btn-left {
    width: 46%;
    margin-left: 30px;
    height: max-content;
    padding: 50px;
    border: 2px solid var(--accentcolor);
    border-radius: 5px;
    background-image: url('/travelPal/images/tourist-bg.png');
    background-size: cover;
    margin-top: 0px;
}

.btn-right {
    width: 46%;
    margin-right: 30px;
    height: max-content;
    padding: 50px;
    border: 2px solid var(--accentcolor);
    border-radius: 5px;
    background-image: url('/travelPal/images/sp-bg.png');
    background-size: cover;
    margin-top: 0px;
}

.selection .Register {
    margin-top: 15px;
    font-size: 14px;
    width: 140px;
    height: 30px;
}

h1 mark {
    background-color: transparent;
    color: var(--secondarycolor);
}

.offers {
    display: flex;
    flex-direction: row;
}

.left {
    margin: 20px auto 30px auto;
    padding: 30px;
    width: 26%;
    font-size: 16px;
    height: auto;
    text-align: center;
}

.left:hover {
    border: 1px solid var(--accentcolor);
    border-radius: 10px;
}

.popular {
    border: 1px solid var(--accentcolor);
    background-color: rgba(255, 255, 255,0.1);
}

.tourist {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.plans {
    background-color: var(--primarycolor);
    margin: 5px;
    padding: 10px;
    border: 1px solid var(--accentcolor);
    width: max-content;
}

.plans img {
    border-radius: 30px;
    width: 100%;
    height: auto;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fav {
    display: flex;
    flex-direction: row;
}

.fav h5 {
    margin-right: 10px;
}

.cont h3 {
    font-size: 14px;
}

.cont mark {
    background-color: #0E064D;
    color: var(--accentcolor);
    border-radius: 5px;
}

.fa-heart {
    color: red;
}







