/*
#overlay {
    position: fixed;
    /* Sit on top of the page content *
    width: 100%;
    /* Full width (cover the whole page) *
    height: 100%;
    /* Full height (cover the whole page) *
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 6, 77, 0.7);
    /* Black background with opacity *
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */
    /* Add a pointer on hover *
}

#heder-login {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;

    /* identical to box height *
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 10%;
}

.log-input {
    box-sizing: border-box;
    height: 40px;
    width: 50%;
    flex-grow: inherit;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.new-user {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.new-user a {
    text-decoration: underline;
    text-align: center;
    margin-top: 12px;
    font-size: 10px;
}

.registerAs {
    display: flex;
    flex-direction: column;
    margin: 100px auto 100px auto;
}

.new-account {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height *
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #FFFFFF;
}

.remeber {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height *
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}
*/

body {
    background-image: url('../images/registerBG.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: rgba(14, 6, 77, 0.7);
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
    margin: 90px;
}

.password {
    display: flex;
    flex-direction: row;
    color: var(--accentcolor);   
    justify-content: space-between;
    margin-top: 12px;
    font-size: 10px;
}

.new-user {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.new-user a {
    text-decoration: underline;
    text-align: center;
    margin-top: 12px;
    font-size: 10px;
}









