/* Font Import */
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Color Palette */
:root {
    --primarycolor: #0E064D;
    --secondarycolor: #EEB444;
    --accentcolor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primarycolor) !important;
    text-transform: uppercase;
    color: var(--accentcolor);
    font-family: poppins;
}

/* Styles for the navigation bar */
.navigationbar {
    display: flex;
    justify-content: space-between;
    padding: 0 14px 0 0;
    background-color: var(--primarycolor);
}

.nav-Logo img {
    width: 240px;
    margin-left: 30px;
}

.menu {
    margin: 10px;
}
  
.navigationbar button {
    border: none;
    background-color: var(--primarycolor);
    color: var(--accentcolor);
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    border-radius: 0%;
    cursor: pointer;
    width: 140px;
    font-weight: lighter;
    height: 60px;
}
  
.nav a {
    text-decoration: none;
    color: var(--accentcolor);
}
  
.nav:hover {
    background-color: #00357A;
    font-size: 16px;
    box-shadow: none;
}

.menu .nav-select{
    margin: 0;
    border-radius: 0px;
    background-color: #00357A;;
}

.menu .logout-btn {
    width:150px;
    height: 50px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #00357A;
}

.logout-btn:hover {
    background-color: var(--secondarycolor);
    font-size: 16px;
    box-shadow: none;
}

.logout-btn img {
    height: 16px;
    width: auto;
}

hr {
    outline: 1px solid #327972;
    width: 100%;
    border-width: 0;
}

/* Heading Styles */
h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--accentcolor);
    text-transform: uppercase;
    margin: 10px;
}

/* Button Styles */
button {
    background-color: var(--secondarycolor);
    color: var(--accentcolor);
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}

button:hover {
    font-size: 22px;
    box-shadow: 1px 1px var(--accentcolor);
}

/* Link styles */
a {
    color: var(--accentcolor);
    text-decoration: none;
}

/* Input Elements styles */
.input-elements {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input-elements input {
    height: 40px;
    margin-top: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: var(--accentcolor);
    opacity: 0.75;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

/* Profile page styles */

.page-content {
    display: flex;
}

/* Dashboard styles */
.Dashboard {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: max-content;
    background-color: #00357A;
}

.Dashboard-top {
    display: block;
    margin: 25px;
    align-items: center;
    text-align: center;
}

.Dashboard-bottom {
    display: block;
}

.Dashboard-bottom button {
    background-color: var(--primarycolor);
    border: 0.2px solid #327972;
    border-radius: 0%;
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
}

/* Style the active class (and buttons on mouse-over) */
.Dashboard-bottom button.active, button:hover {
    background-color: #327972;
}

/* Profile styles */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.profile h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    color: var(--primarycolor);
    opacity: 90%;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    margin-bottom: 5px;
}

.form-update {
    margin-left: 50px;
    width: 80%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: var(--accentcolor);
    width: 80%;
    height: 34px;
}

.details input {
    border: none;
    width: 90%;
    margin: 8px;
}

.details-password {
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: var(--accentcolor);
    width: 80%;
    height: 34px;
}

.details-password input {
    border: none;
    width: 20%;
    margin: 8px;
}

.details-password a {
    font-size: 10px;
}

.details-showpassword p {
    font-size: 12px;
}

.details-showpassword input {
    margin: 2px;
}

.details-update {
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: var(--accentcolor);
    width: 80%;
    height: 34px;
}

.details-update p {
    font-size: 12px;
}

.details-update input {
    border: none;
    width: 50%;
    margin: 8px;
}

.details-update-date {
    display: flex;
    flex-direction: row;
    margin: 4px;
    background-color: var(--accentcolor);
    width: 80%;
    height: 34px;
}

.profile-content button {
    margin-top: 5px;
    width: 80%;
}

/* password reset styles */
.password-content {
    display: block;
    margin: 80px;
    background-color: #00357A;
    width: 40%;
    height: 65%;
    margin-left: 30%;
    padding: 50px;
    border-radius: 15px;
}

.password-content h2 {
    text-align: center;
}

.password-content .otp {
    display: inline-block;
}

.password-content input[type="number"] {
    width: 50px;
    height: 50px;
    margin: 10px 13px 10px 0px;
}

.password-content button {
    width: 35%;
    float: right;
    opacity: 80%;
    margin: 10px;
}

/* error, success message styles */
p.error{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: small;
}

p.info{
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
}

p.info-1{
    margin: auto;
    background-color: green;
    color: white;
    padding: 10px;
}

/* 404 styles */
.error-content {
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

/* Footer styles */
.footer {
    height: 500px;
    background-color: #0a0433;
    display: flex;
    flex-direction: row;
    color: var(--accentcolor);
}
  
.foot-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 120px;
}

.foot-left img{
    width: 40%;
    margin-left: 0px;
}
.foot-left h3{
    letter-spacing: 0.1em;
}
  
.subscribe {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 0px;
}
 
.subscribe input {
    height: 40px;
    min-width: 500px;
    color: var(--primarycolor);
    background-color: var(--accentcolor);
    border-radius: 10px;
    margin-right: 35px;
}
  
.subscribe input::placeholder {
    color: var(--primarycolor);
    font-size: 12px;
    padding-left: 20px;
}

.subscribe button {
    height: 38px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
}

.contact {
    display: block;
}

.contact h4 {
    align-items: center;
    text-align: center;
}

.contact p {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
  
.foot-right {
    display: flex;
    width: 40%;
}
  
.foot-right img {
    margin: auto;
}

.links-footer {
    display: flex;
    flex-direction: row;
}

.link {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
}

/* copyright styles */
.footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.1em;
    background-color: #0a0433;
}
footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}










