html {
    scroll-behavior: smooth;
    overflow: scroll;
    width: 110%;
}

#heder-register {
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
    margin: 50px 0px 0px 0px;
    padding: 20px;
}

.reg-input {
    box-sizing: border-box;
    height: 40px;
    width: 80%;
    flex-grow: inherit;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.reg-form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
}

.registerbtn {
    width: 35%;
    height: 40px;
    border-radius: 15px;
    border-radius: 15px;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
    margin-top: 20px;
}

.have-account {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: var(--accentcolor);
}

.switch-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.add-detail-btn{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--accentcolor);
    background: var(--secondarycolor);
    border-radius: 10px;
    margin-top: 10px;
}

.service-approve-p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.line-wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 6px 8px;
    margin: 20px 6px;
    border-radius: 25px;
}

.line-txt {

    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: var(--primarycolor);
}

.add-service-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--accentcolor);
    padding: 10px 15px;
    background: var(--secondarycolor);
    border-radius: 15px;
    margin-top: 20px;
}