.vertical-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #00357A;
    height: 80vh;
    display: block;
}

.vl-profile {
    display: flex;
    flex-direction: row;
}

.verticle-li a {
    display: block;
    color: var(--accentcolor);
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif;
    font-style: normal; */
    font-weight: 400;
    padding: 8px 16px;
    background-color: var(--primarycolor);
    font-size: 15px;
}

.verticle-li img {
    align-items: center;
    justify-content: center;
    margin: 8px 0px 0px 15px;
    width: 50px;
    height: 50px;
}

.verticle-li p {
    margin-top: 20px;
}

/* Style the active class (and buttons on mouse-over) */
.verticle-li a.active, .verticle-li a:hover{
    background-color: #D9D9D9 !important;
    color: var(--primarycolor);
}

.user-name {
    color: var(--accentcolor);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 16px;
    font-size: 15px;
    margin-top: -10px;
}

.heder-profile {
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.profile-main-wrapper {
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    padding: 20px;
}

.main-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 70%;
    margin: 10% 2% 10% 5%;
}

.line-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--accentcolor);
    padding: 6px 10px;
    margin: 10px 0px
}

.line-txt {
    font-weight: 800;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: var(--primarycolor);
}

.delete-btn {

    background: rgba(209, 14, 14, 0.7);
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.update-btn {
    background: var(--secondarycolor);
    border-radius: 5px;
    width: 250px;
    height: 44.05px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

.table-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);

}

.td-txt {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    justify-content: center;
    color: #00357A;
    padding: 5px 5px;
}

.new-manager {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    text-decoration-line: underline;
    text-transform: uppercase;

}

.add-service-btn {
    font-size: 16px;
    text-align: center;
    color: var(--accentcolor);
    background: var(--secondarycolor);
    width: 220px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}