/* Profile page styles */
/* Profile styles */

.page-content {
    /* background-color: var(--accentcolor); */
    background-color: #D9D9D9;
}

.details input::placeholder {
    color: var(--primarycolor);
    font-weight: bold;
    font-size: 12px;
}

.details img {
    height: 60%;
    width: auto;
    margin-top: 2px;
}

.profileViewContent{
    display: flex;
    margin: 5px 60px 10px 60px;
    width: 70%;
}

.profileView {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255,0.45);
    border: 2px solid var(--primarycolor);
    margin: 10px;
    height: 95%;
    width: 35%;
    justify-content: center;
    align-items: center;
}

.profileView .id {
    background-color: #D10E0E;
    opacity: 70%;
    width: 40px;
    height: 30px;
    margin: 4px 10px 2px 200px;
}

.profileView .id::placeholder {
    color: var(--accentcolor);
}

.profileView img {
    width: 25%;
    height: auto;
    margin: 10px 5px 10px 0px;
}

.profileView input {
    background-color: var(--accentcolor); 
    width: 90%;
    height: 30px;
    margin: 4px 12px 4px 12px;
    padding: 10px;
    border: none;
}

.profileView input::placeholder {
    color: var(--primarycolor);
}