/* verticle header */
.vertical-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 350px;
    height: 90vh;
    display: block;
}

.verticle-li {
    float: left !important;
    width: 100%;
}

.verticle-li i {
    float: left;
    padding: 5px;
    margin-right: 30px;
    color: var(--accentcolor);
}

i:hover, i:active {
    color: var(--primarycolor);
}

.vl-profile {
    display: flex;
    flex-direction: row;
}

.verticle-li a {
    display: block;
    color: var(--accentcolor);
    text-decoration: none;
    font-weight: 400;
    padding: 8px 16px;
    background-color: var(--primarycolor);
    font-size: 15px;
}

.verticle-li img {
    align-items: center;
    justify-content: center;
    margin: 8px 0px 0px 45px;
    width: 50px;
    height: 50px;
}

.verticle-li p {
    margin-top: 20px;
}

/* Style the active class (and buttons on mouse-over) */
.verticle-li a.active, .verticle-li a:hover{
    background-color: #D9D9D9 !important;
    opacity: 0.9;
    color: var(--primarycolor);
}

.user-name {
    color: var(--accentcolor);
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    padding: 0px 16px;
    font-size: 15px;
    margin-top: -10px;
}

.heder-profile {
    letter-spacing: 0.1em;
    color: var(--accentcolor);
    text-align: center;
}

.main-wrapper h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--primarycolor);
    text-transform: uppercase;
    margin: 10px;
}

.profile-main-wrapper {
    padding: 10px 80px;
    align-items: center;
    justify-content: center;
}

.td-profile {
    background-color: #D9D9D9;
    opacity: 0.9;
    width: 100% !important;
}

.profile-main-wrapper {
    margin: 0px 0px 0px 180px;
}

.main-wrapper {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: 2% 2% 2% 5%;
}

.line-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--accentcolor);
    opacity: 0.9;
    padding: 6px 10px;
    margin: 10px 0px 0px 0px;
    width: 500px;
    height: 60px;
    border-radius: 15px;
}

.line-txt {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: var(--primarycolor);
    border-color: var(--accentcolor);
    padding-inline-start: 10px;
    padding: 12px;
}

.line-wrapper .line-txt {
    font-weight: 600;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 0.1em;
    border-radius: 5px;
    color: var(--primarycolor);
    border-color: var(--accentcolor);
    padding-inline-start: 10px;
}

.delete-btn {
    background: rgba(209, 14, 14, 0.7);

    /* identical to box height */
    letter-spacing: 0.1em;
}

.update-btn {
    background: var(--secondarycolor);
    margin-top: 15px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

.table-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    color: var(--accentcolor);
}

tbody tr {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    height: 40px;
    border-bottom: 2px solid var(--primarycolor);
}

.td-txt {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    justify-content: center;
    color: #00357A;
    padding: 5px 5px;
}

.new-manager {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--primarycolor);
    background-color: #D9D9D9;
    width: 500px;
    height: max-content;
    border-radius: 5px;
    margin: 10px;
    text-decoration-line: underline;
}

.new-manager-add {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    color: var(--primarycolor);
    background-color: #D9D9D9;
    width: 400px;
    height: max-content;
    border-radius: 5px;
    margin: 10px;
    text-decoration-line: underline;
}

.new-manager:hover {
    color: var(--accentcolor);
    background-color: var(--secondarycolor);
}

.add-service-btn {
    font-size: 16px;
    text-align: center;
    color: var(--accentcolor);
    background: var(--primarycolor);
    width: 220px;
    height: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.add-service-btn :hover {
    font-size: 16px !important;
    background: #327972;
}

.search form {
    display: flex; 
    flex-direction: row;
}

.search form p {
    margin:12px; 
    width:100%; 
    float: left;
}