

body {
    /* background-image: url(../images/registerBG.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--accentcolor);
}

.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30vw;
    margin-left: 35vw !important;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.back-button {
    width: 20%;
}

.register h2 {
    color: var(--primarycolor);
}

.register input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .register input:focus,
  .register input:valid {
    border-color: var(--primarycolor);
  }

.new-user {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.new-user a {
    text-decoration: underline;
    text-align: center;
    margin: 12px 0px 5px 90px;
    font-size: 14px;
}

/* The container must be positioned relative: */
.select {
    position: relative;
}
  
/* Style items (options): */
.select-items {
    position: absolute;
    color: var(--accentcolor);
    background-color: var(--primarycolor);
    cursor: pointer;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
  
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: var(--secondarycolor);
}



