/*
#overlay {
    position: fixed;
    /* Sit on top of the page content *
    width: 100%;
    /* Full width (cover the whole page) *
    height: 100%;
    /* Full height (cover the whole page) *
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 6, 77, 0.7);
    /* Black background with opacity *
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */
    /* Add a pointer on hover *
}

#heder-register {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;

    /* identical to box height *
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 10%;
}

.reg-input {
    box-sizing: border-box;
    height: 40px;
    width: 50%;
    flex-grow: inherit;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.reg-select {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    flex-grow: inherit;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.reg-form {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}

/* The container must be positioned relative: *
.select {
    position: relative;
}
  
/* Style items (options): *
.select-items {
    position: absolute;
    color: var(--accentcolor);
    background-color: var(--primarycolor);
    cursor: pointer;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.have-account {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    /* identical to box height *
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
*/

body {
    background-image: url(../images/registerBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}

.new-user {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.new-user a {
    text-decoration: underline;
    text-align: center;
    margin: 12px 0px 5px 90px;
    font-size: 14px;
}

/* The container must be positioned relative: */
.select {
    position: relative;
}
  
/* Style items (options): */
.select-items {
    position: absolute;
    color: var(--accentcolor);
    background-color: var(--primarycolor);
    cursor: pointer;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
  
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
  
.select-items div:hover, .same-as-selected {
    background-color: var(--secondarycolor);
}