/* Font Import */
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Color Palette */
:root {
    --primarycolor: #0E064D;
    --secondarycolor: #EEB444;
    --accentcolor: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primarycolor) !important;
    text-transform: uppercase;
    color: var(--accentcolor);
    font-family: poppins;
}

/* Styles for the navigation bar 
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 14px 0 0;
    background-color: var(--primarycolor);
}
  
.nav img {
    width: 190px;
}
  
.nav button {
    border: none;
    background-color: var(--primarycolor);
    color: var(--accentcolor);
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 16px;
    border-radius: 0%;
    cursor: pointer;
}

.nav-button {
    width: 140px;
    font-weight: lighter;
    height: 60px;
}
  
.nav a {
    text-decoration: none;
    color: var(--accentcolor);
}
  
.nav button:hover {
    background-color: #00357A;
    font-size: 16px;
    box-shadow: none;
}

.button-container {
    padding-top: 8px;
}

.button-container button {
    background-color: #00357A;
    max-width: max-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    height: 46px;
}

.log-button img {
    height: 16px;
    width: auto;
}

hr {
    outline: 1px solid #327972;
    width: 100%;
}
*/

/* Heading Styles */
h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: var(--accentcolor);
    text-transform: uppercase;
    margin: 10px;
}

/* Button Styles */
button {
    background-color: var(--secondarycolor);
    color: var(--accentcolor);
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}

button:hover {
    font-size: 22px;
    box-shadow: 1px 1px var(--accentcolor);
}

/* Link styles */
a {
    color: var(--accentcolor);
    text-decoration: none;
}

/* Input Elements styles */
.input-elements {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input-elements input {
    height: 40px;
    margin-top: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: var(--accentcolor);
    opacity: 0.75;
}

input::placeholder {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
}

/* Profile page styles */

.page-content {
    display: flex;
}

/* Dashboard styles */
.Dashboard {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: max-content;
    background-color: #00357A;
}

.Dashboard-top {
    display: block;
    margin: 25px;
    align-items: center;
    text-align: center;
}

.Dashboard-bottom {
    display: block;
}

.Dashboard-bottom button {
    background-color: var(--primarycolor);
    border: 0.2px solid #327972;
    border-radius: 0%;
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
}

/* Style the active class (and buttons on mouse-over) */
.Dashboard-bottom button.active, button:hover {
    background-color: #327972;
}

/* Profile styles */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.profile h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    color: var(--primarycolor);
    opacity: 90%;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 290px;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 4px;
    background-color: var(--accentcolor);
    justify-content: center;
    width: 70%;
    height: 34px;
}

.details input {
    border: none;
    width: 85%;
    margin: 8px;
}

.details input::placeholder {
    color: var(--primarycolor);
    font-weight: bold;
    font-size: 12px;
}

.details img {
    height: 60%;
    width: auto;
    margin-top: 2px;
}

.profile-content button {
    margin-top: 8px;
    width: 70%;
}

.profileViewContent{
    display: flex;
    margin: 35px;
}

.profileView {
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 200, 218);
    margin: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.profileView .id {
    background-color: #D10E0E;
    opacity: 70%;
    width: 40px;
    height: 30px;
    margin: 4px 10px 2px 250px;
}

.profileView .id::placeholder {
    color: var(--accentcolor);
}

.profileView img {
    width: 30%;
    height: auto;
    margin: 10px 5px 10px 5px;
}

.profileView input {
    background-color: var(--accentcolor); 
    width: 90%;
    height: 30px;
    margin: 4px 12px 4px 12px;
    padding: 10px;
    border: none;
}

.profileView input::placeholder {
    color: var(--primarycolor);
}

/* SP service details */
.sp-profile-content {
    display: flex;
    flex-direction: column;
    background-color: #00357A;
    color: var(--accentcolor);
    align-items: center;
    width: 60%;
    height: 200px;
}

.sp-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 54px;
    font-size: 16px;   
}

.sp-details input {
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 24px;
    margin-left: 0px;
    float: right;
}

.profile button {
    width: 200px;
    margin-left: 400px;
    background-color: var(--secondarycolor);
    opacity: 80%;
    font-size: 16px;
}

/* Create Tour Plan */
.create-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.create-plan h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.plan-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    color: var(--primarycolor);
    opacity: 90%;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 340px;
}

.plan-details {
    display: flex;
    flex-direction: column;
    margin: 4px;
    background-color: var(--accentcolor);
    justify-content: center;
    width: 70%;
    height: 34px;
}

.plan-details input {
    border: none;
    width: 85%;
    margin: 8px;
}

.plan-details input::placeholder {
    color: var(--primarycolor);
    font-weight: bold;
    font-size: 12px;
}

.plan-details input .dropdown {
    position: relative;
    display: inline-block;
}

.plan-details .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--accentcolor);
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
  
.plan-details .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: var(--primarycolor);
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {
    background-color: var(--primarycolor);
    color: var(--accentcolor);
}

/* Admin view */


/* Footer styles 
.footer {
    background-color: #0a0433;
    display: flex;
    flex-direction: row;
    color: var(--accentcolor);
}
  
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-left: 60px;
}

.footer-left img {
    width: 190px;
}
  
.footer-left p {
    font-size: 16px;
    margin-left: 10px;
}
  
.subscribe {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
 
.subscribe input {
    height: 40px;
    min-width: 500px;
    color: var(--primarycolor);
    background-color: var(--accentcolor);
    border-radius: 10px;
    margin-right: 35px;
}
  
.subscribe input::placeholder {
    color: var(--primarycolor);
    font-size: 12px;
    padding-left: 20px;
}

.subscribe button {
    height: 38px;
    width: 180px;
    border-radius: 10px;
    font-size: 20px;
}

.contact {
    display: block;
}

.contact p {
    margin-left: 400px;
}
  
.contact img {
    margin-left: 400px;
    width: 80px;
    height: auto;   
}
  
.footer-right {
    display: block;
    position: relative;
    width: 25%;
    align-items: center;
}
  
.footer-right img {
    margin-top: 30px;
    height: 240px;
    width: auto;
}

.links-footer {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.link {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
    font-size: 12px;
}
*/

/* copyright styles */
.copyright p{
    margin-top: 15px;
    text-align: center;
}

/* 404 styles */
.error-content img {
    margin-left: 40%;
    margin-top: 8%;
}

.error-page {
    text-align: center;
    background-color: var(--accentcolor);
    opacity: 70%;
}

.error-page h1 {
    color: var(--primarycolor);
}

.error-page p {
    color: var(--primarycolor);
}

.error-page a {
    color: var(--primarycolor);
}










