*{
    margin: 0;
    font-family: Poppins;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.195em;   
}
.index{
    font-size: 14px;
    color: aliceblue;
    margin: auto;
    background-color: #0E064D;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center; 
}
fieldset{
    border: 0px;
    position: fixed;
}

.login{
    width: 350px;
    margin: auto;
    padding-top: 10%;
    text-align: center;
    display: flex;
}
.divl{
    float: left;
    margin: 10px;
}
.divr{
    float: right;
    margin: 10px;
    color: white;
}
.forgotpw{
    background-color: transparent;
    border: 0px;
    color: white;
}

p.error{
    background-color: red;
    color: white;
    padding: 10px;
    margin: 10px;
}
p.info{
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
}

.textinput{
    color: #000000;
    width: 400px ;
    height: 50px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: large; 
}
.checkbox{
    margin: 10px;
    padding-top: 170px;
}

button{
    cursor: pointer;
    color: white;
    font-size: large;
    width: 400px ;
    padding: 10px;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #EEB444;
}
header{
    background-color: #EEB444;
    overflow: auto;
    padding: 20px;
}
header .appname{
    float: left;
}
header .loggedin{
    float: right;
}

/* sitemanager.php */
body{
    background-color: #0E064D; 
}
.header{
    width: 100%;
    height: 144px;
    background-color: #0E064D;
 }
 
.navigationbar{
    width: 100%;
    height: 95%;
    display: flex;
}

.nav-Logo{
    margin: 0px;
    width: 30%;
    height: 100%;
    float: left;
}
img{
    width: 100%;
    height: 100%;
}

.menu{
    height: 100%;
    width: 70%;
    display: flex;
}
.menu .nav{
    margin: 0;
    border-radius: 0px;
    background-color: #0E064D;
}
.menu .nav:hover{
    background-color: #00357A;
}
.menu .nav-select{
    margin: 0;
    border-radius: 0px;
    background-color: #00357A;;
}
.menu .logout-btn{
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    height: 68px;
    background: #00357A;
    mix-blend-mode: lighten;
    box-shadow: 0px 3px 9px #000000;
    border-radius: 15px;
}
.menu .logout-btn:hover{
    background: #EEB444;
}

.navigationbarfoot{
    width: 100%;
    height: 5%;
}
.masterlist{
    margin-left: 100px;
}
.navigationbarfoot hr{
    margin-top: 3px;
    height: 3px;
    color: #327972;
    background-color: #327972;
    border-width:0;
} 
.body{
    padding: 10px;
    height: auto;
    width: auto;
    display: flex;
}
.dashboard{
    width: 25%;
    height: 100%;
    background-color: #00357A;
    border-width: 100px;
    border: #000000;
    border: 2px solid #327972;
    display: block;
    padding-bottom: 250px;
}
.dashboard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width:50%;
}
.dashboard .nav{
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    background-color: #0E064D;
    border: 2px solid #327972;
    display: block;

}
.dashboard .nav:hover{
    background-color:  rgb(050, 121, 114,0.5);

}
.dashboard p{
    text-align: center;
    padding: 20px;
}
.dashboard .select{
    margin: 0px;
    border-width: 2px;
    border:  #327972;
    box-sizing: border-box;
    border-radius: 0px;
    width: 100%;
    background-color: rgb(050, 121, 114,0.5);
    border: 2px solid #327972;
}
.dashboard .select:hover{
    background-color: #0E064D;
}

.content{
    width: 90%;
    margin-left: 200px;
    /* margin-right: 150px; */
    margin-top: 100px;
    justify-content: center;
    
    
}
.content h1{
    background-color: transparent;
    letter-spacing: 10px;
}
.table{
    width: 75%;
    height: 40%;
    padding: 75px;
    background-color:rgb(255, 255, 255,0.75);
    /* margin-left: 100px; */
}
.row{
    width: 50%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.row td{
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.row input{
    color: #000000;
    font-weight: bolder;
    border: 0px;
    width: 50%;
    height: 100%;

}
.row label{
    color: #000000;
}
.footer{
    height: 30px;
    text-align: center;
}
.footer hr{
    height: 3px;
    color: #327972;
    background-color: #327972;
    border-width:0;
}
.registration{
    font-size: 14px;
    color: aliceblue;
    margin: auto;
    background-color: #0E064D;
    background-image: url('../assets/bgRegister.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center; 
}

.registration .reg{
    width:40%;
    height: fit-content;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    color: #000000;
}

.reg option{
    color: black;
}

/*************_home page_*************************/
.home{
    width: auto;
    display: flex;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
}
.welcome{
    padding-top: 50px;
    width: 50%;
    height: 100%;
    float: left;
    background-color: #0E064D;
     
}
.welcome h3{
    color: #327972;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.21em;
}
.welcome h1{
    text-align: justify;
    font-weight: 900;
    font-size: 60px;
    line-height: 90px;
    letter-spacing: 0.2em;
}
.welcome mark{
    background-color: transparent;
    color: #EEB444;
}
.welcome h5{
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-transform: none;
}
.logo{
    width: 50%;
    height: 100%;
    float: right;
    
}
.logo img{
    width:auto;
    height:100%;
}

.div2{
    width: 100%;
    height: 300px;
    display: flex;
}
.btn-left{
    float: left;
    width: 50%;
    padding: 50px;
    padding-top: 40px;
    background-color: #327972;
}
.btn-right{
    float: right;
    width: 50%;
    padding: 40px;
    background-color: #EEB444;
}
p{
    letter-spacing: 0.195em;
    text-transform: none;
    line-height: 192.5%; 
}

.home p{
    padding: 100px;
    text-align: center;
    letter-spacing: 0.195em;
    text-transform: capitalize;
    line-height: 192.5%;
}
.offers{
    background-image: url('../assets/tp-offers.png');
    background-size: cover;
    height: 867px;
    padding: 50px;
}
body h1{
    text-align: center;
}

.tourist{
    display: flex;
    justify-content: center;

}

.left{
    float: left;
    background-color: rgba(0, 53, 122, 0.5);
    margin: 20px;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
}

.reg-button{
    cursor: pointer;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.reg-button button{
    cursor: pointer;
    height: 100px;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: auto;
    margin-bottom: auto;

}
.popular{
    width: 100%;
    height: 1100px;
    background-color: #327972;
}
.plans{
    float: left;
    background-color: #00357A;
    margin: 20px;
    padding: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.plans img{
    border-radius: 36px;
}
.cont{
    display: flex;
}
.cont h3{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.cont h5{
    margin-top: auto;
    margin-bottom: auto;
}

.cont mark{
    background-color: #0E064D;
    border-radius: 5px;
}

.fa-heart{
    color: red;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.home-dropdown{
    width: auto;
    height: 200px;
    margin-left: 75px;
    display: flex;

}
.home-dropdown .drp-dwn{
    width: 500px;
    height: 100px;
    border-radius: 0px;
    background-color: #00357A;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.1em;
}
.viewall{
    margin-left: 460px;
    width: 380px;
    height: 100px;
    background-color: #0E064D;
    border-radius: 15px;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.1em;
}

/*******************footer******************/
.footer-lrg{
    width: 100%;
    height: 480px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(30, 30, 30, 0.52);
}
.footer-lrg hr{
    height: 1px;
    background-color: #327972;
    border-width:0;
}
.foot-content{
    display: flex;
}
.foot-content-left{
    float: left;
    width: 70%;
    margin-left: 50px;
}
.foot-content-left img{
    width: auto;
    height: auto;
}
.foot-content-right{
    width: 30%;
    float: right;
}
.foot-content-right img{
    object-fit: cover;
}
.subscribe{
    display: flex;
    padding-top: 20px;
}
.subscribe input{
    height: 40px;
    min-width: 500px;
    background-color: white;
    border-radius: 10px;
    margin-right: 35px;
    padding-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.subscribe button{
    cursor: pointer;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.1em;
}
.contact{
    padding: 20px;
    text-align: center;
}
.contact h4{
    margin-left: auto;
    margin-right: auto;
}
.contact i{
    margin: 20px;
}
.links-footer {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.link {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
    font-size: 12px;
}
.pre{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.pre h1{
    text-align: left;
    padding: 20px;
}
.pre-plan{
    width: 100%;
    height: 450px;
    background-color: rgba(50, 121, 114, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.plans-chevron{
    margin-top: auto;
    margin-bottom: auto;
}
.contactus-dis{
    margin-left: auto;
    margin-right: auto;
    width: 1245px;
    height: 284px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
}
.contactus-dis h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0E064D;
    margin: 20px;
}

.contactus-dis p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0E064D;
}
.contactus-sendmsg{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 1085px;
    height: 520px;
    left: 182px;
    top: 1372px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 4px rgba(30, 30, 30, 0.52);
}
.contactus-textinput{
    color: #0E064D;
    width: 730px;
    height: 59px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contactus-sendmsg ::placeholder{
    color: #0E064D;
    font-size: 15px;
    font-weight: bold;
}
.contactus-textinput-msg{
    color: #0E064D;
    width: 730px;
    height: 180px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
}