.page-content {
    display: flex;
    flex-direction: column;
}

/* Container holding the image and the text */
.tour-plan-top-container {
    position: relative;
    text-align: center;
}

.tour-plan-top-container img {
    width: 100vw;
    height: 85vh;
    opacity: 50%;
}

.Title-Tourplan {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    opacity: 100%;
}

h1 {
    font-size: 40px;
    letter-spacing: 4px;
}

.Title-Tourplan img {
    width: 220px;
    height: auto;
}

.title-content p {
    text-align: left;
    margin: 40px 0 40px 20px;
    font-size: 16px;
    top: 200px;
    left: 50px;
    width: 40%;
}

p {
    text-align: center;
    margin: 40px 0 40px 20px;
    font-size: 16px;
}

.features {
    display: flex;
    flex-direction: row;
    margin: 30px 80px 30px 80px;
}

.feature-content {
    box-sizing: border-box;
    box-shadow: white 0px 0px 6px 0px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--accentcolor);
    opacity: 75%;
    width: 300px;
    height:180px;
    margin: 10px auto 10px auto;
    padding: 10px;
}

/* .feature-content:hover {
    width: 340px;
    height: 240px;
} */

.feature-content h4 {
    font-size: 20px;
    color: var(--primarycolor);
}

.feature-content p {
    font-size: 16px;
    margin: 20px 40px 0 40px;
    color: var(--primarycolor);
}

.TourPlan-buttons {
    display: inline-block;
    margin: 10px auto 50px auto;
}

.TourPlan-buttons button{
    margin-left: 30px;
}
