.page-content {
    display: flex;
    flex-direction: column;
}

/* Container holding the image and the text */
.tour-plan-top-container {
    position: relative;
    text-align: center;
}

.tour-plan-top-container img {
    width: 100vw;
    height: 85vh;
}

.Title-Tourplan {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 400px;
    left: 380px;
}

h1 {
    font-size: 40px;
    letter-spacing: 4px;
}

.Title-Tourplan img {
    width: 220px;
    height: auto;
}

p {
    text-align: center;
    margin: 50px 80px 0 80px;
    font-size: 20px;
}

.features {
    display: flex;
    flex-direction: row;
    margin: 30px 100px 30px 100px;
}

.feature-content {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    background-color: var(--accentcolor);
    opacity: 75%;
    width: 340px;
    height:200px;
    margin: 10px auto 10px auto;
    padding: 30px;
}

.feature-content:hover {
    width: 380px;
}

.feature-content h4 {
    font-size: 20px;
    color: var(--primarycolor);
}

.feature-content p {
    font-size: 16px;
    margin: 20px 40px 0 40px;
    color: var(--primarycolor);
}

.TourPlan-buttons {
    display: inline-block;
    margin: 10px auto 50px auto;
}

.TourPlan-buttons button{
    margin-left: 30px;
}
